.rocketC {
  display: flex;
  margin: 10px;
  margin-left: 70px;
}

.rocketImg {
  width: 280px;
}

.contentC {
  padding-right: 50px;
  margin-left: 15px;
}

.CancelR {
  height: 35px;
  background-color: rgb(255, 255, 255);
  color: rgb(119, 119, 119);
  margin-top: 30px;
  border-radius: 8%;
  border: solid gray 2px;
}

.Reservation {
  background-color: rgb(15, 95, 164);
  color: rgb(255, 255, 255);
  border: solid rgb(8, 18, 109) 2px;
  height: 35px;
  margin-top: 30px;
  border-radius: 8%;
}

.rocketDesc {
  font-size: large;
}

.badge {
  background-color: rgb(12, 185, 87);
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}
