.m-2{
  text-decoration: none;
}

.link{
  text-decoration: none;
}

.active-link {
  text-decoration: underline;
}

.Logo {
  width: 50px;
}

.Line {
  border: solid rgba(128, 128, 128, 0.395) 1px;
  width: auto;
  margin-left: 30px;
  margin-right: 30px;
}
